nav.lnb_wrap(style="height: 922px;")
	span.r_bg
	div.profile_area
		div.img_area
		p.name
	div#roomList(style="display:block")
		ul.menu(style="height:50px")
			li.menu01(roomOk="false")
				a#addRoom
					em
						span(roomId="") ADD +
		ul#roomUlList.menu 
	div#addRoomDiv(style="display:none")
		ul.menu
			li.menu01
				a
					input#roomName(type="text" value="")
			li.menu01
				a#finishRoom
					em
						span FINISH
