nav.lnb_wrap(style="height: 922px;")
	span.r_bg
	div.profile_area
		div.img_area
		p.name
	ul.menu 
		block menu
				li.menu01
					a
						em
							span(roomId=123) ADD +
					div.submenu
						ul#chatName.type2
					em.shadow

					
					nav.lnb_wrap(style="height: 922px;")
