extends ../layout
block header
	script(type="text/javascript" src="/js/room/main.js")
	script.
		var loginId = "#{user.loginId}";
		var nickname = "#{user.nickname}";
block content
	div#socket.socket
		div.title
			| User List
		div#socketUser.socketUser
			ul#socketUserList.socketUserList